#!/usr/bin/env bash

[[ -n "${WITH_PREFIX}" ]] && return

if type with > /dev/null 2>&1 && type texenv > /dev/null 2>&1 && type git > /dev/null 2>&1; then
  if type tmux > /dev/null 2>&1; then
    if [[ -n "${TMUX}" ]]; then
      window="$(tmux display -p '#I')"
      [[ -n "${window}" ]] && {
        case "${window}" in
          1)
            export WITH_PREFIX="texenv"
            export TEXENV_ROOT="${PWD}"
            tmux rename-window texenv
            with ./bin/texenv
            ;;
          2)
            export WITH_PREFIX="git"
            export TEXENV_ROOT="${PWD}"
            tmux rename-window git
            with git
            ;;
          *)
            export WITH_PREFIX="${SHELL##*/}"
            export TEXENV_ROOT="${PWD}"
            ;;
        esac
      }
    else
      export WITH_PREFIX="${SHELL##*/}"
      export TEXENV_ROOT="${PWD}"
    fi
  else
    export WITH_PREFIX="${SHELL##*/}"
    export TEXENV_ROOT="${PWD}"
  fi
fi
